:root {
  --border-radius-bigger: 40px;
  --border-radius-smaller: 10px;
  --border-radius-circles: 50px;
  --border-color-dark: #666666;
  --border-input-text-dark: #666666;
  --text-color-light: #FFFFFF;
  --text-color-dark: #235864;
  --text-color-black: #323232;
  --background-color-light: #FFFFFF;
  --background-color-dark: #235864;
  --border-color-dark: #323232;
  --border-bottom-grey: #C4C4C4;
}
    
    * {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    style, title {
      display: none;
    }

    .App {
      text-align: center;
    }
    
    .App-logo {
      height: 40vmin;
      pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    
    .App-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
    
    .App-link {
      color: #61dafb;
    }
    
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .nav-search {
      border: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 5px;
    }
    
    #dropdown-menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: var(--background-color-light);
      transition: left 0.3s ease-in-out;
      z-index: 999;
      padding: 25px 20px;
      text-align: left;
      line-height: 50px;
      color: black;
    }
    
    #dropdown-menu.open {
      left: 0;
    }

    .title-home-page {
      align-items: center;
      margin-top: 15px;
    }

    .nav-box {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      width: 100%;
      position: fixed;
      background-color: var(--background-color-light);
      padding: 5px;
      margin: 20px 0;
      align-items: center;
      border-bottom:  0.5px solid var(--border-bottom-grey);
    }


  .stories-on-top {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 65px;
  }

  .img-box-home-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
  }

  .img-container-tiles, 
  .img-container-parquet,
  .img-container-glas,
  .img-container-facade,
  .img-container-stone,
  .img-container-textile,
  .img-container-project1,
  .img-container-project2,
  .img-container-project3,
  .img-container-project4,
  .img-container-project5,
  .img-container-project6 {
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius-smaller);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-container-project-wishlist {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 30px; */
    font-size: 12px;
    line-height: 10px;
  }

  /* .img-container-project-wishlist p {
    margin: 8px;
  } */
  
  .img-container-tiles {
    background-image: url("./images/01_tiles.jpg");
    margin: 20px 2px 10px 35px;
  }
  .img-container-project1 {
    margin: 20px 2px 10px 35px;
  }

  .img-container-parquet {
    background-image: url("./images/02_parquett.jpg");
    margin: 20px 35px 10px 2px;
  }
  .img-container-project2 {
    background-image: url("../public/images/my-profile/02.webp");
    margin: 20px 35px 10px 2px;
  }

  .img-container-glas {
    background-image: url("./images/03_glass.jpg");
    margin: 20px 2px 10px 35px;
  }
  .img-container-project3 {
    background-image: url("../public/images/my-profile/03.webp");
    margin: 20px 2px 10px 35px;
  }

  .img-container-facade {
    background-image: url("./images/04_facade.webp");
    margin: 20px 35px 10px 2px;
  }
  .img-container-project4 {
    background-image: url("../public/images/my-profile/04.webp");
    margin: 20px 35px 10px 2px;
  }

  .img-container-stone {
    background-image: url("./images/stone.jpg");
    margin: 20px 2px 10px 35px;
  }
  .img-container-project5 {
    background-image: url("../public/images/my-profile/05.jpg");
    margin: 20px 2px 10px 35px;
  }

  .img-container-textile {
    background-image: url("./images/textile.jpg");
    margin: 20px 35px 10px 2px;
  }
  .img-container-project6 {
    background-image: url("../public/images/my-profile/06.jpg");
    margin: 20px 35px 10px 2px;
  }

  .text-under-projects {
    background-color: red;
  }

  .link-img-tiles, 
  .link-img-parquet,
  .link-img-glas,
  .link-img-facade,
  .link-img-stone,
  .link-img-textile {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    background-color: rgba(94, 104, 113, 0.3);
    padding: 5px;
    border-radius: var(--border-radius-smaller);
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-page-btns-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .home-page-btn-blue,
  .home-page-btn-white,
  .profile-page-btn-blue,
  .profile-page-btn-white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    margin: 10px 25px;
    font-size: 14px;
    padding: 3px;
    border-radius: var(--border-radius-bigger);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .home-page-btn-blue,
  .profile-page-btn-blue {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    border: none;
  }
  
  .home-page-btn-white,
  .profile-page-btn-white {
    background-color: var(--background-color-light);
    color: var(--text-color-black);
    border: solid var(--border-color-dark) 0.5px;
  }

  .footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
    margin: 20px;
    align-items: center;
    border-top: 0.5px solid var(--border-bottom-grey);
    padding: 0;
  }

  .profile-page-btn-white,
  .profile-page-btn-blue {
    width: 150px !important;
    margin: 22px !important;
  }

  .SignupPage,
  .LoginPage,
  .ProfilePage {
    margin-top: 80px;
  }

  .SignupPage label,
  .LoginPage label {
    color: var(--text-color-black);
    text-align: left;  
    margin: 5px 20px;
    font-weight: bold;
    font-size: 14px;
    z-index: -1;
  }

  .SignupPage input,
  .LoginPage input {
    margin: 2px 20px;
    height: 40px;
    border-radius: var(--border-radius-bigger);
    border: 0.7px solid var(--border-color-dark);
    padding-left: 12px;
    font-size: 15px;
    color: var(--border-input-text-dark);
  }

  .title-other-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:  0.5px solid var(--border-bottom-grey);
    padding: 15px;
    /* margin: 20px 0; */
    width: 100%;
    position: fixed;
    background-color: var(--background-color-light);
  }

  .selection-circle {
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-start;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 5px 20px;
  }

  /* .selection-circle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius-circles);
    border: 2px solid var(--border-bottom-grey);
    background-color: var(--background-color-light);
  } */
  
  /* input[type="radio"] {
    margin: 5px;
  } */
  
  /* label[for^="curious-individual"]::after,
  label[for^="professional"],
  label[for^="exterior"],
  label[for^="interior"]::after,
  label[for^="both"] {
    display: inline-block;
    margin-left: 30px;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
  } */
  
  /* label[for^="curious-individual"]::before,
  label[for^="professional"]::before,
  label[for^="exterior"]::before,
  label[for^="interior"]::before,
  label[for^="both"]::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius-circles);
    border: 2px solid var(--border-bottom-grey);
    background-color: var(--background-color-light);
  }
  
  label[for^="curious-individual"]::after,
  label[for^="professional"]::after,
  label[for^="exterior"]::after,
  label[for^="interior"]::after,
  label[for^="both"]::after {
    content: "";
    display: none;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-circles);
    background-color: var(--background-color-dark);
  } */
/*   
  input[type="checkbox"]:checked + label::after {
  } */
  
  /* input[type="checkbox"] {
    display: block;
    width: 18px;
    height: 18px;
    border: 2px solid var(--border-bottom-grey);
    cursor: pointer;
    margin-right: 10px;
  } */
  
  /* input[type="checkbox"]:checked::after {
    z-index: -1;
    border-radius: 50%;
    content: "";
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius-circles);
    background-color: var(--background-color-dark);
  } */
  
  label[for="agreeToTerms"] {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: var(--text-color-black);
    margin: 0 10px 0 0;
  }

  .agreeToTerms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 25px;
  }

  .sign-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 140px; */
    height: 40px;
    margin: 10px 25px;
    font-size: 14px;
    padding: 3px;
    border-radius: var(--border-radius-bigger);
    text-align: center;
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    border: none;
  }

  .profile-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .user-description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 120px;
    margin-top: 10px;
    font-size: 13px;
    line-height: 16px;
  }
  .user-description a {
    text-decoration: none;
    color: var(--text-color-dark);
  }
  
  /* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .file-input {
    margin-bottom: 20px;
  }
  
  .upload-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #45a049;
  }
  
  .upload-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } */

  
  .list-of-parquet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .big-small-icons {
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow-x: hidden;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
  }

  input:focus {outline:none;}

  .nav-search-parquet {
    margin: 30px;
    border: none;
  }

  .search-parquet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .material-thumbnail {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .material-thumbnail img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .large-thumbnail {
    width: 350px;
    height: 650px;
    flex-wrap: wrap;
    margin: 20px 20px 0 20px;
    padding: 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
  }

  .large-thumbnail p {
    margin-bottom: 5px;
  }
  
  .small-thumbnail {
    width: 150px;
    height: auto;
    font-size: 8px;
    margin: 10px;
  }

  .edit-profile-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 60px;
    font-size: 15px;
    max-width: 400px;
    /* justify-content: space-between; */
  }

  .edit-paragraph {
    width: 300px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    font-size: 15px;
  }

  .edit-profile-text input {
    width: 300px;
    border: none;
    margin: 5px;
  }

  .edit-text-img {
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 30px; */
  }

  .white-btn-wish:hover,
  .add-wish-btn-small:hover {
    background-color: var(--border-bottom-grey);
    animation-name: stopHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes stopHover {
  to {
    background-color: #FFF;
  }
}

  .white-btn-wish,
  .add-wish-btn-small {
    transition: opacity 0.3s ease;
  }

  .add-wish-btn-small {
    width: 100px;
    height: 25px;
    font-size: 10px;
  }


  
  
  

  




  
  
  

  
  

  
  
  