@media screen 
  and (min-device-width: 300px) 
  and (max-device-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    * {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    style, title {
      display: none;
    }

    .App {
      text-align: center;
    }
    
    .App-logo {
      height: 40vmin;
      pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    
    .App-header {
      background-color: #282c34;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
    
    .App-link {
      color: #61dafb;
    }
    
    @keyframes App-logo-spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    #dropdown-menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: white;
      border: 1px solid black;
      transition: left 0.3s ease-in-out;
    }
    
    #dropdown-menu.open {
      left: 0;
    }
    #menu-container {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .nav-box {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      color: rgb(15, 93, 162);
      width: 100%;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 999;
    }
    
  
  }

  
  
  